
body,
main {
    display: flex;
    height: 90dvh;
    justify-content: center;
    align-items: center;
    background: #f1f2f4;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(16,24,40,0.08);
    padding: 1rem;
    border: 1px solid rgba(2, 2, 4, 0.08);
    justify-items: center;
    align-items: center;
}

#app-container{
    background: #f9f9f9;
    width: 100dvh;
    height: 80dvh;
    justify-content: space-evenly;
}

#seesaw-container{
    display: flex;
    height: 40dvh;
    width: 90dvh;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(2, 2, 4, 0.08);
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
}

#information-boxes{
    display: flex;
    flex-direction: row;
    width: 90dvh;
    justify-content: space-between;
}

#log-container{
    height: 10dvh;
    overflow-y: auto;
    width: 90dvh;
}

#pivot {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #4d2a19;
}

#seesaw {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#seesaw-plank {
    transition: transform 0.5s ease;
    width: 50dvh;
    height: 1.2dvh;
    background: #8b5a2b;
    border-radius: 6px;
    cursor: pointer;
}

#reset-button {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    border: 1px solid #5a3a1d;
    color: #fff;
    background-color: #8b592b;

  transition: 
    background-color 0.2s ease,
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

#reset-button:hover {
  background-color: #8b592b83;
  color: #fff;
}

#reset-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
}